<ion-view view-title="{{ title }}">
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-repeat="post in posts" class="list card">
        <div class="item item-text-wrap">
          <h2 ng-bind-html="post.title">{{ post.title }}</h2>
          <p>{{ post.post_meta[0]['value'] }}</p>
        </div>
        <div class="item item-avatar">
          <img src="{{ post.speaker.avatar }}">
          <h2>{{ post.speaker.title }}</h2>
          <p>{{ post.terms.wcb_track[0]['name'] }}</p>
      </div>

	    </ion-item>
	  </ion-list>

  </ion-content>
</ion-view>
