<ion-view view-title="Schedule">
  <ion-content class="padding">
		<!-- start loop -->
		<div class="list card">
		  <div class="item item-text-wrap">
		    <h2>Advanced Topics in WordPress Development</h2>
				<p>2015-11-03T03:25:05</p>
				<p>Independence - Room 121</p>
		  </div>
		  <div class="item item-avatar">
				<!-- author.avatar -->
		    <img src="https://secure.gravatar.com/avatar/01cfe9feaafb068590891bbd1f6a7f5a?s=96">
		    <h2>Andrew Nacin</h2>
				<p><a href="http://nacin.com/">http://nacin.com/</a></p>
		  </div>
		</div>
		<div class="list card">
		  <div class="item item-text-wrap">
		    <h2>Meeting the New York Times Challenge: delivering the news over HTTPS</h2>
				<p>2015-11-03T03:25:05</p>
				<p>Liberty Bell - Room 120</p>
		  </div>

		  <div class="item item-body">
		    <p>Last November, The New York Times challenged news sites to fully support HTTPS in 2015. What does it mean to meet that challenge? This session will discuss the problems we encountered moving to HTTPS (and how we solved them). We'&#8217;'ll then give you hands-on help with anything you need: server configuration, certificates, mixed-content warnings, CDNs — even ads, analytics and A/B tests.</p>

		  </div>
		  <div class="item item-avatar">
				<!-- author.avatar -->
		    <img src="https://secure.gravatar.com/avatar/d94ab7776800ced3cd343dac45bf62eb?s=96">
		    <h2>Paul Schreiber</h2>
				<p><a href="http://paulschreiber.com/">http://paulschreiber.com/</a></p>
		  </div>
		</div>
		<!-- end loop -->

  </ion-content>
</ion-view>
