<ion-view view-title="Location">
  <ion-content class="padding">
				<h2>Osaka University<br/>Toyonaka Campus</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13103.918271091732!2d135.45188150000004!3d34.80645590000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1140196a12668a41!2z5aSn6Ziq5aSn5a2mIOixiuS4reOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sen!2sjp!4v1464515298322&language=en" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<dl>
			<dt>• Train:</dt>
			<dd>15'~25' east on foot from Ishibashi, Hankyu Takarazuka Line.</dd>
			<dt>• Monorail:</dt>
			<dd>10'~15' west on foot from Shibahara.</dd>
			<dt>• From Shin-Osaka Station</dt>
			<dd>Subway Midosuji Line to Senri-Chuo, → Monorail, exit at Shibahara. (1 hr.)</dd>
			<dt>• From Osaka Airport</dt>
			<dd>Monorail to Shibahara. (30')</dd>
		</dl>
  </ion-content>
</ion-view>
